:root {
   --primaryColor: #198754;
   --mainWhite: #fff;
   --offWhite: #f7f7f7;
   --mainBlack: #222;
   --mainGrey: #ececec;
   --darkGrey: #cfcfcf;
   --mainTransition: all 0.3s linear;
   --mainSpacing: 3px;
   --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
   --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
   scroll-behavior: smooth;
   background: #f7f7f7;
}

.reg-form {
   max-width: 768px;
}

a {
   color: inherit !important;
}

.header-navbar {
   z-index: 1030 !important;
}

.home-panel {
   display: grid;
   grid-template-columns: 3.25fr 0.75fr;
   height: 80vh;
}

@media screen and (max-width: 991px) {
   .home-panel {
      grid-template-columns: 1fr;
   }
}

.animate {
   transition: 0.5s linear;
}

.animate:hover {
   animation: anime 2s linear;
}

@keyframes anime {
   to {
      transform: scale(1.1);
   }
}

.animate2:hover {
   transform: translateY(-5px);
   transition: all 1s;
}

.navList2:hover {
   transform: translateY(5px);
   transition: all 1s;
   cursor: pointer;
}

.main-logo {
   width: 5rem;
   height: 3rem;
}

a {
   text-decoration: none !important;
   color: inherit !important;
}

.main-primary {
   color: #198754 !important;
}

.mainLetter {
   letter-spacing: 1px;
}

.navList:hover {
   color: #c9fce4 !important;
   letter-spacing: 1px;
}

.sub-primary {
   background: #198754 !important;
}

.footer-top {
   background: linear-gradient(rgba(0, 0, 255, 0.473), rgba(13, 109, 253, 0.473), rgba(0, 255, 106, 0.473)) !important;
}

.foot-opac,
.carousel-opac {
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.2);
}

.foot-opac {
   background: rgba(0, 0, 0, 0.8);
}

.footer-page {
   display: grid !important;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   column-gap: 2rem;
}

.error-page {
   height: 60vh;
   position: relative;
   text-align: center;
}

.slide1 {
   height: 100%;
   background: linear-gradient(rgba(0, 255, 106, 0.5), rgba(0, 0, 255, 0.5)), url(./Images/bg1.jpg) center/cover no-repeat fixed !important;

}

.slide2 {
   height: 100%;
   background: linear-gradient(rgba(0, 255, 106, 0.5), rgba(0, 0, 255, 0.5)), url(./Images/bg2.jpg) center/cover no-repeat fixed !important;

}

.slide3 {
   height: 100%;
   background: linear-gradient(rgba(0, 255, 106, 0.5), rgba(0, 0, 255, 0.5)), url(./Images/bg3.jpg) center/cover no-repeat fixed !important;
}

.carousel-inner {
   height: 100%;
}

.carousel-control {
   height: 10vh !important;
   margin: auto;
   width: 3vw;
   background: rgba(25, 135, 84, 0.712) !important;
}

.banner-opac {
   width: 100%;
   height: 100%;
   padding-left: 5%;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.6);
}

.banner-opac h1 {
   font-size: 2rem
}

.banner-opac p {
   max-width: 70%;
}


.opac {
   background: rgba(0, 0, 0, 0.05);
   height: 80%;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.error-page>div {
   background: rgba(25, 135, 84, 0.13);
   width: 50vw;
}

.error-page h1 {
   font-size: 10rem;
}

.error-page p {
   font-size: 2rem;
   color: #333;
}

@media screen and (max-width: 992px) {

   .footer-page,
   .contact-details {
      display: block !important;
   }

   .footer-page>div,
   .contact-details>div {
      margin: 2rem auto;
   }
}

.marque-scroll {
   animation: anime 30s linear 2s infinite forwards;
   overflow: hidden !important;
   position: absolute;
}

@keyframes anime {
   from {
      top: 0;
   }

   to {
      top: -100%;
   }
}

.marque-scroll p {
   font-size: 0.9rem;
   color: #6c757d;
}

.test-ques p {
   font-size: 2rem;
}

.test-ques {
   font-size: 1.2rem;
   transition: all 3s ease-in-out;
}


.answer-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
}

.test-fail {
   background: rgba(220, 53, 70, 0.127);
}

.test-pass {
   background: rgba(25, 135, 84, 0.327);
}

.test-pass .cong,
.score {
   font-size: 2rem;
}

.preview-page {
   max-width: 80%;
}

.user-detail {
   min-height: 50vh;
   min-width: 70vw;
}

.reg-info {
   display: grid;
   grid-template-columns: 2fr 2fr;
}

.reg-info-img {
   width: 35%;
   height: 25vh;
}

.upload {
   width: 90%;
   height: 20rem;
   margin-left: 3rem;
   border: 1px solid #ddd;
}

.upload2 {
   height: 10rem;
   width: 10rem;
   margin: 2rem auto;
   border-radius: 50%;
}

.upload-file {
   height: 100% !important;
   width: 100% !important;
   position: relative;
   outline: none;
}

.upload-file::before {
   content: "+";
   position: absolute;
   width: 100% !important;
   height: 100% !important;
   top: 0;
   left: 0;
   background: #fff;
   color: #198754;
   font-size: 11rem;
   text-align: center;
   cursor: pointer;
   margin: auto;
}

.upload-file2::before {
   font-size: 8rem;
   margin-top: -2.5rem !important;
}

.file_img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: #fff;
}

.file_img2 img {
   border-radius: 50%;
}

.file_img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.faTimes {
   position: absolute;
   top: 0;
   right: 0;
   background: #fff;
   border: 1px solid #fff;
   border-radius: 50%;
   cursor: pointer;
   padding: 2px;
}

.faTimes2 {
   top: -1rem;
   right: -1rem;
}

@media screen and (max-width: 991px) {
   .reg-info {
      display: flex;
      flex-direction: column-reverse;
   }

   .reg-info-div {
      justify-content: center !important;
      margin-bottom: 1rem;
   }
}

.reg-logo {
   width: 15%;
   height: 5rem;
}

.webminar-logo {
   height: 3rem;
   width: 3rem;
}

.test-login {
   height: 85vh;
   width: 100%;
}

.test-login form {
   width: 30vw;
}